@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Base font size for rem calculations */
html {
    font-size: 16px;
}

/* Base styles and grid layout */
body {
    margin: 0 auto;
    padding: 1.25rem;
    font-family: 'Fredoka', sans-serif;
    line-height: 1.6;
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "image text";
    gap: 1.25rem;
    align-items: start;
    background-color: #F0DFCD;
    color: #532D20;
}

h1 {
    font-family: 'Merriweather', serif;
    margin-bottom: 1.25rem;
    grid-area: header;
}

#albumen {
    grid-area: image;
    max-width: 100%;
    height: auto;
}

p {
    grid-area: text;
    font-size: 2rem;
}

/* Responsive design */
@media (max-width: 48rem) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "image"
            "text";
    }
}

/* Font classes */
.fredoka-lucia {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}